{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Crear Paciente</h2>
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert" id="Errorcito">
                {{ message }}
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert" id="Errorcito">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    <form method="POST" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_documento" class="form-label">Numero Documento</label>
            <input type="text" class="form-control" id="id_documento" name="id_documento" required>
        </div>
        <div class="mb-3">
            <label for="tipo_documento" class="form-label">Tipo de Documento</label>
            <div class="mb-3">
                <select class="form-control form-select" id="tipo_documento" name="tipo_documento" required>
                    <option value="CC">Cedula de Ciudadania</option>
                    <option value="TI">Tarjeta de Identidad</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" required>
        </div>
        <div class="mb-3">
            <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
        </div>
        <div class="mb-3">
            <label for="hora_nacimiento" class="form-label">Hora de Nacimiento</label>
            <input type="time" class="form-control" id="hora_nacimiento" name="hora_nacimiento" required>
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion" required>
        </div>
        <div class="mb-3">
            <label for="telefono_contacto" class="form-label">Teléfono de Contacto</label>
            <input type="text" class="form-control" id="telefono_contacto" name="telefono_contacto" required>
        </div>
        <div class="mb-3">
            <label for="ocupacion_id" class="form-label">Ocupación</label>
            <select class="form-control form-select" id="ocupacion_id" name="ocupacion_id" required>
                {% for ocupacion in ocupaciones %}
                    <option value="{{ ocupacion.id_occupation }}">{{ ocupacion.description }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="nacionalidad_id" class="form-label">Nacionalidad</label>
            <select class="form-control form-select" id="nacionalidad_id" name="nacionalidad_id" required>
                {% for nacionalidad in nacionalidades %}
                    <option value="{{ nacionalidad.id_nationality }}">{{ nacionalidad.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="ciudad_id" class="form-label">Ciudad</label>
            <select class="form-control form-select" id="ciudad_id" name="ciudad_id" required>
                {% for ciudad in ciudades %}
                    <option value="{{ ciudad.id_city }}">{{ ciudad.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="diagnostico_id" class="form-label">Diagnóstico</label>
            <select class="form-control form-select" id="diagnostico_id" name="diagnostico_id" required>
                {% for diagnostico in diagnosticos %}
                    <option value="{{ diagnostico.id_diagnosis }}">{{ diagnostico.description_4 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="documento" class="form-label">Tipo de Documento</label>
            <select class="form-control form-select" id="documento" name="documento" required>
                <option value="Ninguno">Ninguna</option>
                <option value="Oposicion">Documento Presuncion Donacion</option>
                <option value="Aceptacion">Documento de Voluntad Anticipada</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="texto_adicional" class="form-label">Texto Documento (Si aplica)</label>
            <textarea class="form-control" id="texto_adicional" name="texto_adicional" rows="4"></textarea>
        </div>
        <div class="mb-3">
            <label for="ciudad_id_documento" class="form-label">Ciudad (Si aplica)</label>
            <select class="form-control form-select" id="ciudad_id_documento" name="ciudad_id_documento">
                {% for ciudad in ciudades %}
                    <option value="{{ ciudad.id_city }}">{{ ciudad.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
        <div class="mb-5"></div>
    </form>
</div>
<script>
    setTimeout(function () {
        var errorMessage = document.getElementById("Errorcito");
        if (errorMessage) {
            errorMessage.style.display = "none";
        }
    }, 4000);
</script>
{% endblock %}
